force-app/main/default/flows/EmailToSuppliersWithService.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_To_supplier_for_Revise</name>
        <label>Email To supplier for Revise</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PricenegotiationEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Price negotiation</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailToSuppliers</name>
        <label>SendEmailToSuppliers</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Requirement For Products</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>emailAddressCollection</name>
        <label>emailAddressCollection</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>emailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>emailtosuppliers@32xsq37une372vvqeiv88z81rdbwhkdw74781cmvqn3kdus4f2.2w-qvskjeaz.ap16.apex.salesforce.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmailToSuppliers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReviseEmailCollection</name>
        <label>ReviseEmailCollection</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>emailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>emailtosuppliers@32xsq37une372vvqeiv88z81rdbwhkdw74781cmvqn3kdus4f2.2w-qvskjeaz.ap16.apex.salesforce.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_To_supplier_for_Revise</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_revised_is_null_or_not</name>
        <label>check revised is null or not</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>emailAddressCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>revised_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revised_Record__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReviseEmailCollection</targetReference>
            </connector>
            <label>revised is not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EmailToSuppliersWithService {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailToSuppliersWithService</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_revised_is_null_or_not</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.PF_Supplier__c},&lt;/p&gt;&lt;p&gt;Greetings!&lt;/p&gt;&lt;p&gt;I am the inventory manager from Procufine, a procurement management company based in hyderabad..Our company is interested in procuring some of the products that you have to offer.More details of our requirements are as follows:!&lt;/p&gt;

&lt;table style=&quot;width:100%;border-collapse:collapse;text-align:left;&quot;&gt; &lt;tr&gt; &lt;th style=&quot;border: 1px solid #dddddd;padding: 5px;&quot;&gt;Product Name&lt;/th&gt; &lt;th style=&quot;border: 1px solid #dddddd;padding: 5px;&quot;&gt;Order Quantity&lt;/th&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td style=&quot;border: 1px solid #dddddd;padding: 5px;&quot;&gt;{!$Record.PF_Product__r.Name}&lt;/td&gt; &lt;td style=&quot;border: 1px solid #dddddd;padding: 5px;&quot;&gt;{!$Record.PF_Order_Quantity__c}&lt;/td&gt;
 &lt;/tr&gt; &lt;/table&gt;

&lt;p&gt;Could you please share current availability, best prices and delivery details (lead time, delivery schedule etc.) so that we can take this conversation forward?&lt;/p&gt;
&lt;p&gt;Looking forward to your reply.&lt;/p&gt;&lt;p&gt;Thanks,&lt;br&gt;Procufine DevOrg&lt;br&gt;Inventory Manager &lt;br&gt; Pro.Inc., Hyderabad &lt;br&gt;(+91)-1234567890!&lt;/p&gt;
&lt;p&gt;P.S. Please Reply All on this email with the details and do not change the subject.&lt;/p&gt;
&lt;p style=&quot;display:none&quot;&gt;quoteid:{!$Record.Id}.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PricenegotiationEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.PF_Supplier_Account__r.Name},&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;Thank you so much for your hard work on the proposal you sent. I appreciate the time and expertise it takes to create such a proposal.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;My team and I reviewed the documents you sent and were very happy with what we read. We&apos;re excited at the prospect of using your product. However, we unfortunately noticed that the price you quoted for us exceeds our budget.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;In order for us to be able to accept your proposal, we request a rate that is {!$Record.Discount} lower than your original quote to reach a final price of {!$Record.TotalPrice} RS. If you cannot offer this price we unfortunately will need to go to another supplier.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;We hope that you can accept this offer so we can continue our business relationship. Please understand that your flexibility in this matter may encourage more work for you and your company. I hope we can come to an agreement. Please inform us of your decision by {!$Record.ExpirationDate} .&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;Best,&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;{!$Record.PF_Inventory_Manager__r.FirstName}&lt;/p&gt;
&lt;p style=&quot;display:none&quot;&gt;quoteid:{!$Record.Id}.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
