force-app/main/default/flows/Flow_on_finalised_check_box.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_the_records_if_they_records_true</name>
        <label>Check the records if they records true</label>
        <locationX>396</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>checking_if_the_field_is_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_finalised_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checking_if_the_field_is_true.Finalised__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_this_field_if_it_true</targetReference>
            </connector>
            <label>if finalised is true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flow on finalised check box {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow on finalised check box</label>
    <loops>
        <name>checking_if_the_field_is_true</name>
        <label>checking if the field is true</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>get_quoteline_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_the_records_if_they_records_true</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_quoteline_records</name>
        <label>get quoteline records</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checking_if_the_field_is_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>check_this_field_if_it_true</name>
        <label>check this field if it true</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>checking_if_the_field_is_true</targetReference>
        </connector>
        <inputAssignments>
            <field>Already_finalised__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_quoteline_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Finalised__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
