force-app/main/default/flows/ivm_quant_update_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assigning_each_inv_record</name>
        <label>assigning each inv record</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>singlerecord.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addingoppquantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlerecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_ivm_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assigning_record_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigning_record_variables</name>
        <label>assigning record variables</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>inventoryupdation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singlerecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_opp_product_line_items</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>addingoppquantity</name>
        <dataType>Number</dataType>
        <expression>{!get_ivm_records.Quantity__c}+{!loop_over_opp_product_line_items.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ivm quant update flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ivm quant update flow</label>
    <loops>
        <name>loop_over_opp_product_line_items</name>
        <label>loop over  opp product line items</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>get_opp_product_line_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_ivm_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UPDATE_INV_RECORD_COLLection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_ivm_records</name>
        <label>get ivm records</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assigning_each_inv_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_over_opp_product_line_items.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp_product_line_items</name>
        <label>get opp product line items</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_opp_product_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_INV_RECORD_COLLection</name>
        <label>UPDATE INV RECORD COLLection</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>inventoryupdation</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_opp_product_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>record_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Opportunity</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>inventoryname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inventoryupdation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inventory__c</objectType>
    </variables>
    <variables>
        <name>productid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quantity_to_ivm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>singlerecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inventory__c</objectType>
    </variables>
    <variables>
        <name>valueofivmquantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
