force-app/main/default/flows/quantity_updation_on_inventory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>update_record_variables</name>
        <label>update record variables</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantityChange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DECISIONBETWEENCREATEORUPDATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentidrecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iventory_name_check_with_product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iventory_name_check_with_product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Quantity</name>
        <label>Check Quantity</label>
        <locationX>402</locationX>
        <locationY>1919</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Inv_Quantity_Greater_than_Opp_Product_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inv_Records.Quantity__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Inv_Records.Stock_On_Hand__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Checkbox</targetReference>
            </connector>
            <label>If Inv Quantity Greater than Opp Product Quantity</label>
        </rules>
        <rules>
            <name>if_inv_opp_q_is_less_than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inv_Records.Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Inv_Records.Stock_On_Hand__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Opp_Checkbox</targetReference>
            </connector>
            <label>if inv opp quantity is more than stock on hand</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_between_create_or_update</name>
        <label>decision between create or update</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>create_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DECISIONBETWEENCREATEORUPDATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>create</stringValue>
                </rightValue>
            </conditions>
            <label>create records</label>
        </rules>
        <rules>
            <name>update_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DECISIONBETWEENCREATEORUPDATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_related_record</targetReference>
            </connector>
            <label>update records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Check</name>
        <label>Name Check</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>iventory_name_check_with_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iventory_name_check_with_product.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product2.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_record_variables</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Types</name>
        <label>Types</label>
        <locationX>402</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Equals_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunity_is_closed_won_or_lost.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_inventory_records</targetReference>
            </connector>
            <label>Record Type Equals Product</label>
        </rules>
        <rules>
            <name>Type_Equals_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inv_Records</targetReference>
            </connector>
            <label>Type Equals Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>quantityChange</name>
        <dataType>Number</dataType>
        <expression>({!iventory_name_check_with_product.Quantity__c}+{!$Record.Quantity})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>quantity updation on inventory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>quantity updation on inventory</label>
    <loops>
        <name>iventory_name_check_with_product</name>
        <label>iventory name check with product</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>get_inventory_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Name_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decision_between_create_or_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Inv_Records</name>
        <label>Get Inv Records</label>
        <locationX>402</locationX>
        <locationY>1799</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Quantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_inventory_records</name>
        <label>get inventory records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iventory_name_check_with_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_related_record</name>
        <label>get related record</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_current_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentidrecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>opportunity_is_closed_won_or_lost</name>
        <label>opportunity is closed won or lost</label>
        <locationX>402</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Opp_Checkbox</name>
        <label>Copy 1 of Update Opp Checkbox</label>
        <locationX>402</locationX>
        <locationY>2039</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inventory__c</field>
            <value>
                <elementReference>Get_Inv_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Stock_Available__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_current_record</name>
        <label>update current record</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Get_Inv_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentidrecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>quantity</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Checkbox</name>
        <label>Update Opp Checkbox</label>
        <locationX>138</locationX>
        <locationY>2039</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inventory__c</field>
            <value>
                <elementReference>Get_Inv_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Stock_Available__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>opportunity_is_closed_won_or_lost</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentidrecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DECISIONBETWEENCREATEORUPDATE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inventoryrecordcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>numberofinventoryrecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Opp_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>productname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
