force-app/main/default/flows/Roll_Up_on_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Values_to_Quantity</name>
        <label>Assign Values to Quantity</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>TotalAssetsQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Asset_Records.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Asset_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Values_to_Quantity</name>
        <label>Copy 1 of Assign Values to Quantity</label>
        <locationX>490</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>TotalAssetsQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Asset_Records.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Asset_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Values_to_Quantity</name>
        <label>Copy 2 of Assign Values to Quantity</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>TotalAssetsQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_2_of_Loop_Asset_Records.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Loop_Asset_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approved_Or_Rejected</name>
        <label>Approved Or Rejected</label>
        <locationX>402</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Get_Asset_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_is_QA_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QA Pass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Asset_Records</targetReference>
            </connector>
            <label>If Status is QA Pass</label>
        </rules>
        <rules>
            <name>If_Status_is_QA_Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QA Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Records</targetReference>
            </connector>
            <label>If Status is QA Fail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Roll Up on Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll Up on Asset</label>
    <loops>
        <name>Copy_1_of_Loop_Asset_Records</name>
        <label>Copy 1 of Loop Asset Records</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Asset_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Values_to_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_Product_Quantity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_2_of_Loop_Asset_Records</name>
        <label>Copy 2 of Loop Asset Records</label>
        <locationX>754</locationX>
        <locationY>575</locationY>
        <collectionReference>Copy_1_of_Copy_1_of_Get_Asset_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Assign_Values_to_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_Update_Product_Quantity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Asset_Records</name>
        <label>Loop Asset Records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Copy_1_of_Get_Asset_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Product_Quantity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Copy_1_of_Get_Asset_Records</name>
        <label>Copy 1 of Copy 1 of Get Asset Records</label>
        <locationX>754</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Loop_Asset_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Asset_Records</name>
        <label>Copy 1 of Get Asset Records</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Asset_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QA Pass</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Records</name>
        <label>Get Asset Records</label>
        <locationX>402</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_Asset_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QA Fail</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Product_Quantity</name>
        <label>Copy 1 of Update Product Quantity</label>
        <locationX>402</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rejected_Quantity__c</field>
            <value>
                <elementReference>TotalAssetsQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Product_Quantity</name>
        <label>Copy 2 of Update Product Quantity</label>
        <locationX>754</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Quantity__c</field>
            <value>
                <elementReference>TotalAssetsQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Quantity</name>
        <label>Update Product Quantity</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved_Quantity__c</field>
            <value>
                <elementReference>TotalAssetsQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approved_Or_Rejected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalAssetsQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
