force-app/main/default/flows/roll_up_on_inventory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>first_value_equals_zero</name>
        <label>first value equals zero</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_product_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>increment_quantity_value</name>
        <label>increment quantity value</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>each_product_item.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_product_item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>product_changed</name>
        <label>product changed</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>product_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_product_related_records_from_opportunity_product</targetReference>
            </connector>
            <label>product change</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>roll up on inventory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>roll up on inventory</label>
    <loops>
        <name>each_product_item</name>
        <label>each product item</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>get_product_related_records_from_opportunity_product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>increment_quantity_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_quantity_field_on_inventory_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_product_related_records_from_opportunity_product</name>
        <label>get product related records from opportunity product</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>first_value_equals_zero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_quantity_field_on_inventory_record</name>
        <label>update quantity field on inventory record</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>quantity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>product_changed</targetReference>
        </connector>
        <object>Inventory__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
