force-app/main/default/flows/task2_8.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>asssign_level</name>
        <label>asssign level</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Level </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>text_conv</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>increment</name>
        <label>increment</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>countrounds</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asssign_level</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>text_conv</name>
        <label>text conv</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>countrounds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_interview_rounds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>number_of_interview_rounds</name>
        <label>number of interview rounds</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>count_of_interview_rounds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countrounds</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Job_Posting__r.No_of_Interview_Rounds__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>increment</targetReference>
            </connector>
            <label>count of interview rounds</label>
        </rules>
    </decisions>
    <decisions>
        <name>to_in_process</name>
        <label>to in process</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>in_process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>number_of_interview_rounds</targetReference>
            </connector>
            <label>in process</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>task2 8 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>task2 8</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_interview_rounds</name>
        <label>create interview rounds</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>number_of_interview_rounds</targetReference>
        </connector>
        <inputAssignments>
            <field>Candidate_Name__c</field>
            <value>
                <elementReference>$Record.Candidate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Round_Name__c</field>
            <value>
                <elementReference>text</elementReference>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>to_in_process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-Process</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>countrounds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
