force-app/main/default/flows/Updated_Quantity_Roll_up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>update_record_variables</name>
        <label>update record variables</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantityChange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DECISIONBETWEENCREATEORUPDATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentidrecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iventory_name_check_with_product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iventory_name_check_with_product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_between_create_or_update</name>
        <label>decision between create or update</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>update_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DECISIONBETWEENCREATEORUPDATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_related_record</targetReference>
            </connector>
            <label>update records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Check</name>
        <label>Name Check</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>iventory_name_check_with_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iventory_name_check_with_product.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product2.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_record_variables</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>quantityChange</name>
        <dataType>Number</dataType>
        <expression>({!iventory_name_check_with_product.Quantity__c}+({!$Record.Quantity}-{!$Record__Prior.Quantity}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Updated Quantity Roll up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Updated Quantity Roll up</label>
    <loops>
        <name>iventory_name_check_with_product</name>
        <label>iventory name check with product</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <collectionReference>get_inventory_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Name_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decision_between_create_or_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_inventory_records</name>
        <label>get inventory records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iventory_name_check_with_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_related_record</name>
        <label>get related record</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_current_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentidrecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_current_record</name>
        <label>update current record</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentidrecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>quantity</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_inventory_records</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentidrecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DECISIONBETWEENCREATEORUPDATE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inventoryrecordcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>numberofinventoryrecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>productname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
