force-app/main/default/flows/Update_Opportunity_Qty_If_Stage_Is_Not_Equals_To_Closed_Lost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Opp_Stages</name>
        <label>Check Opp Stages</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_opp_stage_not_equals_to_closed_lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Qty_in_Inventory</targetReference>
            </connector>
            <label>If opp stage not equals to closed lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddOpportunityQty</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.Quantity}+{!$Record.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Opportunity Qty If Stage Is Not Equals To Closed Lost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opportunity Qty If Stage Is Not Equals To Closed Lost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opp_Qty_in_Inventory</name>
        <label>Update Opp Qty in Inventory</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Inventory__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Quantity_Except_Closed_Lost__c</field>
            <value>
                <elementReference>AddOpportunityQty</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Opp_Stages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
